<div class="blog-post">

  <div class="blog-header separate">
    <!-- Title -->
    <h1 class="blog-post-title">
        <%- item.title || item.link%>
    </h1>

    <!-- Date and Author -->
    <p class="blog-post-meta">
        <%= item.date.format(config.date_format) %>
        <% if(item.author) { %>
            by <%- item.author %>
        <% } %>
    </p>
  </div>

    <!-- Content -->
    <%- item.content %>

    <!-- Tags and Categories links -->

</div>
