<div class="blog-masthead separate">
<nav>
    <% theme.menu.forEach(function(item) { %>
      <a href="<%=item.link %>"><i data-eva="<%= item.icon %>"><%= item.name %></i></a>
    <% }) %>
</nav>

<p><a href="#"><i data-eva="navigation-outline">Back to top</i></a></p>
</div>
